<div class="container">
    <h2>Promeni lozinku</h2>

    <table style="margin: auto;">
        <tr>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Lozinka</mat-label>
                    <input [(ngModel)]='oldPassword' type="password" matInput [formControl]="passwordFormControl">
                    <mat-error
                        *ngIf="passwordFormControl.hasError('pattern') && !passwordFormControl.hasError('required')">
                        Neispravan format
                    </mat-error>
                    <mat-error *ngIf="passwordFormControl.hasError('required')">
                        Lozinka je <strong>obavezno</strong> polje
                    </mat-error>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Nova lozinka</mat-label>
                    <input [(ngModel)]='newPassword' type="password" matInput [formControl]="newPasswordFormControl">
                    <mat-error
                        *ngIf="newPasswordFormControl.hasError('pattern') && !newPasswordFormControl.hasError('required')">
                        Neispravan format
                    </mat-error>
                    <mat-error *ngIf="newPasswordFormControl.hasError('required')">
                        Nova lozinka je <strong>obavezno</strong> polje
                    </mat-error>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Potvrda nove lozinke</mat-label>
                    <input [(ngModel)]='newPasswordConfirm' type="password" matInput
                        [formControl]="newPasswordConfirmFormControl">
                    <mat-error
                        *ngIf="newPasswordConfirmFormControl.hasError('pattern') && !newPasswordConfirmFormControl.hasError('required')">
                        Neispravan format
                    </mat-error>
                    <mat-error *ngIf="newPasswordConfirmFormControl.hasError('required')">
                        Potvrda nove lozinke je <strong>obavezno</strong> polje
                    </mat-error>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <td colspan='2'>
                <button mat-raised-button (click)='changePassword()'>Promeni</button>
            </td>
        </tr>
    </table>
</div>