<h2>Izmena korisnika</h2>
<table style="margin: auto;">
    <tr>
        <td>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Ime</mat-label>
                <input [(ngModel)]='firstname' type="text" matInput [formControl]="firstnameFormControl">
                <mat-error *ngIf="firstnameFormControl.hasError('required')">
                    Ime je <strong>obavezno</strong> polje
                </mat-error>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Prezime</mat-label>
                <input [(ngModel)]='lastname' type="text" matInput [formControl]="lastnameFormControl">
                <mat-error *ngIf="lastnameFormControl.hasError('required')">
                    Prezime je <strong>obavezno</strong> polje
                </mat-error>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Korisnicko ime</mat-label>
                <input [(ngModel)]='username' type="text" matInput [formControl]="usernameFormControl">
                <mat-error *ngIf="usernameFormControl.hasError('required')">
                    Korisnicko ime je <strong>obavezno</strong> polje
                </mat-error>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Lozinka</mat-label>
                <input [(ngModel)]='password' type="password" matInput [formControl]="passwordFormControl">
                <mat-error *ngIf="passwordFormControl.hasError('pattern') && !passwordFormControl.hasError('required')">
                    Neispravan format
                </mat-error>
                <mat-error *ngIf="passwordFormControl.hasError('required')">
                    Lozinka je <strong>obavezno</strong> polje
                </mat-error>

            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Grad</mat-label>
                <input [(ngModel)]='city' type="text" matInput [formControl]="cityFormControl">
                <mat-error *ngIf="cityFormControl.hasError('required')">
                    Grad je <strong>obavezno</strong> polje
                </mat-error>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Datum rodjenja</mat-label>
                <input [(ngModel)]='birthday' type="text" matInput [formControl]="birthdayFormControl"
                    placeholder="1999-03-11">
                <mat-error *ngIf="birthdayFormControl.hasError('required')">
                    Datum rodjenja je <strong>obavezno</strong> polje
                </mat-error>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Telefon</mat-label>
                <input [(ngModel)]='phone' type="text" matInput [formControl]="phoneFormControl">
                <mat-error *ngIf="phoneFormControl.hasError('required')">
                    Telefon je <strong>obavezno</strong> polje
                </mat-error>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email adresa</mat-label>
                <input [(ngModel)]='email' type="email" matInput [formControl]="emailFormControl"
                    placeholder="pat@example.com">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Neispravan format
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Email adresa je <strong>obavezno</strong> polje
                </mat-error>
            </mat-form-field>
        </td>
    </tr>

    <tr>
        <td>
            <mat-form-field appearance="fill">
                <mat-label>Tip</mat-label>
                <mat-select [formControl]="typeFormControl" [(ngModel)]='type'>
                    <mat-option value="Kupac">Kupac</mat-option>
                    <mat-option value="Prodavac">Prodavac</mat-option>
                    <mat-option value="Agent">Agent</mat-option>
                </mat-select>
                <mat-error *ngIf="typeFormControl.hasError('required')">Izaberite jedan od tipova</mat-error>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>
            <mat-form-field appearance="fill" *ngIf='type==agentString'>
                <mat-label>Agencija</mat-label>
                <mat-select [formControl]="agencyFormControl" [(ngModel)]='agency'>
                    <mat-option *ngFor='let a of allAgencies' value="{{a.name}}">{{a.name}}</mat-option>
                </mat-select>
                <mat-error *ngIf="agencyFormControl.hasError('required')">Izaberite jednu od agencija</mat-error>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>
            <mat-form-field class="example-full-width" appearance="fill" *ngIf='type==agentString'>
                <mat-label>Licenca</mat-label>
                <input [(ngModel)]='licence' type="text" matInput [formControl]="licenceFormControl">
                <mat-error *ngIf="licenceFormControl.hasError('required')">
                    Licenca je <strong>obavezno</strong> polje
                </mat-error>
            </mat-form-field>
        </td>
    </tr>
    <tr>
        <td>
            <button mat-raised-button (click)='updateUser()'>Sacuvaj izmene</button>
        </td>
    </tr>
</table>